http {
    proxy_cache_path /var/cache/nginx keys_zone=votecache:10m levels = 1:2 max_size=100m inactive=60m;
} 
#creates the file path in a directory for caches. nginx knows to cache vote responses because of the path votecache just a name 



upstream loadbalancer {
  server vote:80;
}

server {
  listen 80;
  server_name localhost;
  location / {
    proxy_pass http://vote_upstream;
    proxy_cache votecache;                     # use the zone defined above
    proxy_cache_valid 200 10s;                 # cache 200 responses for 10s
    add_header X-Cache-Status $upstream_cache_status;   # the HIT/MISS tag
}
}